<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4uCode : inovação e transformação</title>
    <link rel="stylesheet" href="./assets/css/normalize.css" />
    <link rel="stylesheet" href="./assets/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/menu.css">
    <link rel="stylesheet" href="./assets/css/contato.css">
    <link rel="stylesheet" href="./assets/css/responsivo.css">
    <link rel="stylesheet" href="./assets/css/animacoes.css">
    <link rel="stylesheet" href="./assets/css/galeria.css">
    <link rel="stylesheet" href="./assets/css/scroll.css">
    <link rel="stylesheet" media="(min-width: 768px)" href="./assets/css/responsivo.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/faviconfavicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="./assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#791bc9">
    <meta name="theme-color" content="#ffffff">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>
    <!-- Cabeçalho -->
    <header class="container-fluid vh-100">
        <div class="row p-5">
            <div class="col-4 d-none d-sm-block mx-5 my-3">
                <a href="https://www.youtube.com/channel/UC29JZNxvv2VnOvl9EBw-wIw" target="_blank"><img
                        class="img-fluid mx-1 hvr-grow-shadow" src="./assets/img/redesSociais/youtube.svg"
                        alt="youtube"></a>
                <a href="https://www.instagram.com/4ucode" target="_blank"><img class="img-fluid mx-1 hvr-grow-shadow"
                        src="./assets/img/redesSociais/instagram.svg" alt="instagram"></a>
                <a href="mailto:contato.4ucode@gmail.com" target="_blank"><img class="img-fluid mx-1 hvr-grow-shadow"
                        src="./assets/img/redesSociais/gmail.svg" alt="gmail"></a>
                <a href="https://m.kwai.com/user/3xtcs6x9fdh26z4?fid=150001362029196&cc=COPY_LINK&language=pt-br&share_device_id=ANDROID_da50694a9e5d2811&share_id=ANDROID_da50694a9e5d2811_1663346197091&share_uid=150001362029196&timestamp=1663346197091&share_item_type=profile&shareEnter=1&kpn=KWAI&translateKey=share_profile_default_word&shareBucket=br&shareBiz=profile&share_item_info=3xtcs6x9fdh26z4&ept=v1&short_key=CPejaw9E"
                    target="_blank"><img class="img-fluid mx-1 hvr-grow-shadow" src="./assets/img/redesSociais/kwai.svg"
                        alt="kwai"></a>
                <a href="https://tiktok.com/@4ucode" target="_blank"><img class="img-fluid mx-1 hvr-grow-shadow"
                        src="./assets/img/redesSociais/tik-tok.svg" alt="tik tok"></a>
            </div>
            <div class="col-4  align-content-center anima-vibrate-1">
               <a href="index.html">
                <img src="./assets/img/logo/logo.svg" alt="4ucode">
               </a>
            </div>
            <div class="col-4 mx-5 my-3 ">
                <!--Menu Hamburger-->
                <input id="toggle" type="checkbox"></input>
                <label for="toggle" class="hamburger">
                    <div class="top-bun"></div>
                    <div class="meat"></div>
                    <div class="bottom-bun"></div>
                </label>

                <div class="nav">
                    <div class="nav-wrapper sombra-letra">
                        <nav>
                            <a href="index.html">Principal</a>
                            <a href="galeria.html">Galeria</a><br>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- </Menu Hamburger> -->
        </div>
        <div class="row">
            <div class="col p-5">
                <h1 class="sombra-letra">Focando em inovação e transformação</h1>
                <h5 class="display-6">Nós podemos te ajudar nos desafios da transição da TI tradicional para a
                    Transformação Digital.</h5>
            </div>
        </div>
    </header>
    <!-- Cabeçalho: fundo animado -->
    <div id="fundo"">
        <lottie-player src=" https://assets9.lottiefiles.com/packages/lf20_zprb9vzj.json" background="transparent"
        speed="1" style="width: 100%;  height: 100%; position: relative;" loop autoplay>
        </lottie-player>
    </div>

     <!--Evento-->
    <!-- Evento: video-->
    <section id="evento" class="text-center">
        <div class="row mx-5">
            <h1 class="font-italic display-1">Galeria</h1>
             <p class="">Vamos reviver um pouco dessa energia incrível de aprendizado que rolou na nossa
            palestra no IFSP.</p>   
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <video class="w-100 rounded" autoplay loop muted controls>
                        <source src="./assets/video/AFTERMOVIE_dektop.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </section>

    <!-- Eventos: Galeria-->
    <section id="galeriaFotos">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col">
                    <div class="container">
                        <div class="row">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode0.jpg" data-target="#image-gallery">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode0.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode0.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode1.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode1.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode1.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode2.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode2.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode2.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode3.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode3.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode3.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode4.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode4.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode4.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode5.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode5.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode5.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode6.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode6.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode6.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode7.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode7.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode7.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode8.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode8.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode8.jpg" alt="Another alt text">
                                </div>


                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode9.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode9.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode9.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode10.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode10.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode10.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode11.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode11.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode11.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode12.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode12.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode12.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode13.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode13.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode13.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode14.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode14.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode14.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode15.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode15.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode15.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode16.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode16.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode16.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode17.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode17.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode17.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode18.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode18.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode18.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode19.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode19.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode19.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode20.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode20.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode20.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode21.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode21.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode21.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode22.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode22.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode22.jpg" alt="Another alt text">
                                </div>


                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode23.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode23.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode23.jpg" alt="Another alt text">
                                </div>


                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode24.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode24.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode24.jpg" alt="Another alt text">
                                </div>


                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode25.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode25.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode25.jpg" alt="Another alt text">
                                </div>


                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode26.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode26.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode26.jpg" alt="Another alt text">
                                </div>


                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode27.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode27.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode27.jpg" alt="Another alt text">
                                </div>


                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode28.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode28.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode28.jpg" alt="Another alt text">
                                </div>


                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode29.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode29.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode29.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode30.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode30.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode30.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode31.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode31.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode31.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode32.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode32.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode32.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode33.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode33.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode33.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode34.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode34.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode34.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode35.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode35.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode35.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode36.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode36.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode36.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode37.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode37.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode37.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode38.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode38.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode38.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode39.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode39.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode39.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode40.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode40.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode40.jpg" alt="Another alt text">
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode41.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode41.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode41.jpg" alt="Another alt text">
                                </div>
                                <div class="col-lg-3 col-md-4 col-xs-12 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                        data-image="./assets/img/gallery/fourcode42.jpg" data-target="#image-gallery ">
                                        <img class="img-thumbnail mImgDesktop lazy"
                                            src="./assets/img/gallery/thumbnail/fourcode42.jpg" alt="Another alt text">
                                    </a>
                                    <img class="img-thumbnail mobilieImg lazy"
                                        src="./assets/img/gallery/thumbnail/fourcode42.jpg" alt="Another alt text">
                                </div>


                            </div>

                            <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="image-gallery-title"></h4>
                                            <button type="button" class="close" data-dismiss="modal"><span
                                                    aria-hidden="true">×</span><span class="sr-only">Fechar</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary float-left"
                                                id="show-previous-image"><i class="fa fa-arrow-left"></i>
                                            </button>

                                            <button type="button" id="show-next-image"
                                                class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Contato -->
    <section id="contato" class="contato">
        <img src="./assets/img/sobre/nuvem-superior.svg" class="img-fluid w-100">
        <div class="container">
            <div class="section-contact">
                <div class="form-contact">
                    <h1 class="text-center text-light display-1">Contato</h1>
                    <form action="enviar.php" method="post" class="contactForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single-input">
                                    <input type="text" name="name" placeholder="Nome">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-input">
                                    <input type="text" name="email" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-input">
                                    <input type="text" name="phoneNumber" placeholder="Celular/Telefone">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-input">
                                    <input type="text" name="subject" placeholder="Assunto">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single-input">
                                    <textarea name="mensagem" placeholder="Sua mensagem" rows="5" data-rule="required"
                                        data-msg="Por gentileza digite a sua mensagem"></textarea>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="text-center d-flex justify-content-end my-3">
                                    <button type="button" class="btn btn-danger px-4" data-toggle="modal"
                                        data-target="#ErroEnvio">Enviar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="ErroEnvio" tabindex="-1" role="dialog"
                                        aria-labelledby="ErroEnvio" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-body">
                                                    <h5 class="modal-title" id="ErroEnvio">ERRO DE ENVIO</h5>
                                                </div>
                                                <div class="modal-body text-start">
                                                    Lamentamos por isso, estamos trabalhando para resolver. <br>
                                                    Envie a sua mensagem através desse <a
                                                        href="mailto:contato.4ucode@gmail.com" target="_blank">Link</a>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Fechar</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- PHP
                                <div class="submit-input text-center d-flex justify-content-end">
                                     <input type="submit" name="btn_enviar" value="Enviar">
                                </div>
                                -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

    <!-- Rodapé -->
    <footer>
        <div class="container text-center">
            <div class="row">
                <div class="col-6">
                    <lottie-player src="https://lottie.host/641cfc3e-11b4-48ab-b0de-b18fc84df8c0/UBH0p1bjKT.json"
                        background="transparent" speed="1" class="animacao-footer" loop autoplay>
                </div>
                <div class="col-6">
                    <img class="img-fluid " src="./assets/img/logo/footer-logo.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="https://www.youtube.com/channel/UC29JZNxvv2VnOvl9EBw-wIw" target="_blank"><img
                            class="img-fluid mx-1 hvr-grow-shadow" src="./assets/img/redesSociais/youtube.svg"
                            alt="youtube"></a>
                    <a href="https://www.instagram.com/4ucode" target="_blank"><img
                            class="img-fluid mx-1 hvr-grow-shadow" src="./assets/img/redesSociais/instagram.svg"
                            alt="instagram"></a>
                    <a href="mailto:contato.4ucode@gmail.com" target="_blank"><img
                            class="img-fluid mx-1 hvr-grow-shadow" src="./assets/img/redesSociais/gmail.svg"
                            alt="gmail"></a>
                    <a href="https://m.kwai.com/user/3xtcs6x9fdh26z4?fid=150001362029196&cc=COPY_LINK&language=pt-br&share_device_id=ANDROID_da50694a9e5d2811&share_id=ANDROID_da50694a9e5d2811_1663346197091&share_uid=150001362029196&timestamp=1663346197091&share_item_type=profile&shareEnter=1&kpn=KWAI&translateKey=share_profile_default_word&shareBucket=br&shareBiz=profile&share_item_info=3xtcs6x9fdh26z4&ept=v1&short_key=CPejaw9E"
                        target="_blank"><img class="img-fluid mx-1 hvr-grow-shadow"
                            src="./assets/img/redesSociais/kwai.svg" alt="kwai"></a>
                    <a href="https://tiktok.com/@4ucode" target="_blank"><img class="img-fluid mx-1 hvr-grow-shadow"
                            src="./assets/img/redesSociais/tik-tok.svg" alt="tik tok"></a>
                </div>
            </div>
            <div class="row p-3">
                <span> A vontade supera o dom </span>
            </div>
        </div>
    </footer>

    <!--Script -->
    <!--Script: Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!--Script: Animações SVGs-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- Script: Efetito de mudança de fotos-->
    <script src="./js/modalFotos.js"></script>
    <script src="./js/progressiveImage.js"></script>
</body>

</html>